<div style="box-sizing: border-box;width: 98%;margin: 0 auto;max-width: 508px;background-color: #FFFFFF;border: 1px solid #f6f6f6;box-shadow: 0px 0 10px rgba(0, 0, 0, 0.08);border-radius: 8px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="main-table_zZLU"
           style="width:100%;height:100%"></table>
    <table align="center" border="0" cellpadding="0" cellspacing="0"
           style="max-width: 508px; width: 100%; margin: 0 auto">
        <tbody>
        <tr>
            <td>
                <div style=" text-align: center; width: 100%; overflow: hidden; height: 100%; border-top-left-radius: 8px; border-top-right-radius: 8px; ">
                    <img style="width: 100%" src="https://image.daoxuan.cc/image/202305070019380.png"></div>
            </td>
        </tr>
        </tbody>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="logo-table_NOgq"
           style=" max-width: 508px; width: 100%; background: #ffffff; margin: 15px auto 8px; ">
        <tbody>
        <tr>
            <td style="padding: 0 24px;"><p
                    style=" margin: 0 auto; font-family: HarmonyOS Sans, SF Pro Text, SF Pro Icons, robot, Helvetica Neue, Helvetica, Arial, sans-serif; font-style: normal; font-weight: 900; font-size: 18px; line-height: 130%; color: #000000; width: 100%; overflow-wrap: break-word; word-break: break-word; text-align: left; ">
                验证邮箱</p></td>
        </tr>
        </tbody>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="logo-table_NOgq"
           style=" max-width: 508px; width: 100%; margin: 0 auto; background: #ffffff">
        <tbody>
        <tr>
            <td style="text-align: center;padding: 0 24px"><p class="normal-font_oArV"
                                                              style=" margin: 0 auto; overflow-wrap: break-word; word-break: break-word; text-align: left; width: 100%; font-family: HarmonyOS Sans, SF Pro Text, SF Pro Icons, robot, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 150%; color: #000000; ">
                <span class="bold-font_QRvu"
                      style=" font-style: inherit; font-family: inherit; font-size: inherit; line-height: inherit; text-indent: inherit; letter-spacing: inherit; color:inherit; font-weight: 600; ">您正在验证邮箱</span>，验证码：
            </p></td>
        </tr>
        </tbody>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="logo-table_NOgq"
           style=" max-width: 508px; width: 100%; margin: 0 auto; background: #ffffff; margin-top: 12px">
        <tbody>
        <tr>
            <td style="padding: 0 24px;">
                <div class="code_GPAV"
                     style="letter-spacing:0.05em;font-size:28px;color:#000000;white-space:nowrap;font-style:normal;font-weight:500;text-align:left;font-family:HarmonyOS Sans, SF Pro Text, SF Pro Icons, robot, Helvetica Neue, Helvetica, Arial, sans-serif;">
                    <span style="border-bottom:1px dashed #ccc;z-index:1" t="7" onclick="return false;"
                          data="">{}</span></div>
            </td>
        </tr>
        </tbody>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="logo-table_NOgq"
           style=" max-width: 508px; width: 100%; margin: 0 auto; background: #ffffff">
        <tbody>
        <tr>
            <td style="text-align: center;padding: 0 24px"><p class="normal-font_oArV"
                                                              style=" margin: 0 auto; overflow-wrap: break-word; word-break: break-word; text-align: left; width: 100%; font-family: HarmonyOS Sans, SF Pro Text, SF Pro Icons, robot, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 150%; color: #000000; ">
            </p></td>
        </tr>
        </tbody>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="img_nOyV"
           style="max-width: 508px; width: 100%; margin-top:10px">
        <tbody>
        <tr class="title-logo_nESf">
            <td>
                <div class="new-line_YPVI" style="height:0px;display:block;width:100%"></div>
            </td>
        </tr>
        </tbody>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="logo-table_NOgq"
           style=" max-width: 508px; width: 100%; margin: 0 auto; background: #ffffff">
        <tbody>
        <tr>
            <td style="text-align: center;padding: 0 24px"><p class="normal-font_oArV"
                                                              style=" margin: 0 auto; overflow-wrap: break-word; word-break: break-word; text-align: left; width: 100%; font-family: HarmonyOS Sans, SF Pro Text, SF Pro Icons, robot, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 150%; color: #000000; ">

                验证码<span class="bold-font_QRvu"
                            style=" font-style: inherit; font-family: inherit; font-size: inherit; line-height: inherit; text-indent: inherit; letter-spacing: inherit; color:inherit; font-weight: 600; "> 1 分钟</span>内有效，请勿泄露。如非本人操作，请立即联系客服团队。

            </p></td>
        </tr>
        </tbody>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0"
           style=" background:rgba(255,255,255,1); max-width:508px; width:100%; margin:60px auto 0;">
        <tbody>
        <tr>
            <td style="padding: 0 24px;">
                <div style=" font-family: HarmonyOS Sans, SF Pro Text, SF Pro Icons, robot, Helvetica Neue, Helvetica, Arial, sans-serif; text-align:left; font-size: 14px; font-weight: 400; line-height: 150%; color:#000000">
                    爱特工作室
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="normal-font_oArV"
       style="margin:0 auto;overflow-wrap:break-word;word-break:break-word;text-align:left;width:90%;font-family:SF Pro Text, SF Pro Icons, robot, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;font-weight:normal;color:#000000"></p>
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="logo-table_NOgq" style=" width: 100%;">
        <tbody>
        <tr>
            <td style="text-align: center">
                <div style=" box-sizing: border-box; max-width: 508px; margin: 0 auto; background: #f9f9f9; margin-top: 70px; padding: 15px 24px 28px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; ">
                    <div style=" font-family: HarmonyOS Sans, SF Pro Text, SF Pro Icons, robot, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 17px; text-align: center; color: #7D7D7D; ">
                        爱特工作室致力于保护您的账户和交易安全<br> - 如果您怀疑自己收到了诈骗信息，请立即联系客服 -
                        请勿与任何人分享您的验证码，包括官方客服和工作人员
                    </div>
                    <div style=" margin: 14px auto 12px; background-image: url('https://static.coinall.ltd/cdn/banner/20221205/16702339641035d61f6bf-822b-4c10-a25a-23fd6b74d4df.png'); background-size: 100% 10px; background-repeat: no-repeat; background-position: center;">
                        <span style="background-color: #f9f9f9;; padding: 0 15px;"><span style="height: 15px;"><img
                                src="https://static.coinall.ltd/cdn/oksupport/headImg/20221117/1668687253371.png"
                                style="width: 14px; height: 14px; vertical-align: middle;"></span><span
                                style=" vertical-align: middle; height: 15px; padding-left: 4px; font-size: 14px; font-family: SF Pro Text, SF Pro Icons, robot, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 500; font-size: 14px; color: #000000; opacity: 0.8;">期待与您保持联系</span></span><span></span>
                    </div>
                    <div style=" margin: 0 auto; overflow-wrap: break-word; word-break: break-word; text-align: center; font-size: 11px; font-family: HarmonyOS Sans, SF Pro Text, SF Pro Icons, robot, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 400; color: #7d7d7d; line-height: 17px; ">
                        感谢您选择爱特工作室<br> 如果有任何问题，疑虑或建议，请联系爱特工作室客服
                    </div>
                    <div style="margin-top: 18px; height: 20px;"><a target="_blank" rel="noopener"
                                                                    href="https://twitter.com/okxchinese"
                                                                    class="social-link_duJx"
                                                                    style="text-decoration: none; vertical-align: top;"><img
                            src="https://static.coinall.ltd/cdn/banner/20230208/1675847055481747dd123-28e5-439d-8909-bbd92ac33765.png"
                            style=" width: 20px; height: 20px; margin-right: 26px;"></a><a target="_blank"
                                                                                           rel="noopener"
                                                                                           href="https://www.tiktok.com/@okx?lang=en"
                                                                                           class="social-link_duJx"
                                                                                           style="text-decoration: none; vertical-align: top;"><img
                            src="https://static.coinall.ltd/cdn/banner/20230208/1675847097458593e5a8e-7ce5-4ec6-bddd-fd52e2e5d943.png"
                            style=" width: 20px; height: 20px; margin-right: 26px;"></a><a target="_blank"
                                                                                           rel="noopener"
                                                                                           href="https://t.me/OKXGroup_CN"
                                                                                           class="social-link_duJx"
                                                                                           style="text-decoration: none; vertical-align: top;"><img
                            src="https://static.coinall.ltd/cdn/banner/20230208/16758470771094b972638-e04c-440c-91d6-f77466131369.png"
                            style=" width: 20px; height: 20px; margin-right: 26px;"></a><a target="_blank"
                                                                                           rel="noopener"
                                                                                           href="https://www.facebook.com/okxzh"
                                                                                           class="social-link_duJx"
                                                                                           style="text-decoration: none; vertical-align: top;"><img
                            src="https://static.coinall.ltd/cdn/banner/20230208/167584711770549ec6044-b736-4888-9991-8ac7689b3dd5.png"
                            style=" width: 20px; height: 20px; margin-right: 26px;"></a><a target="_blank"
                                                                                           rel="noopener"
                                                                                           href="https://www.linkedin.com/company/okxofficial"
                                                                                           class="social-link_duJx"
                                                                                           style="text-decoration: none; vertical-align: top;"><img
                            src="https://static.coinall.ltd/cdn/banner/20230208/16758471359312125af58-7b78-4114-a375-fe31d77b481c.png"
                            style=" width: 20px; height: 20px; margin-right: 26px;"></a><a target="_blank"
                                                                                           rel="noopener"
                                                                                           href="https://www.reddit.com/r/OKX"
                                                                                           class="social-link_duJx"
                                                                                           style="text-decoration: none; vertical-align: top;"><img
                            src="https://static.coinall.ltd/cdn/banner/20230208/16758470077083ace56e0-d508-47dd-a9fe-77a21f32ce93.png"
                            class="social-img_gTbS" style=" width: 20px; height: 20px;"></a></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
